<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->]
        <div class="container mt-6">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">썸네일</th>
                        <th scope="col">제목</th>
                        <th scope="col">댓글</th>
                        <th scope="col">추천</th>
                        <th scope="col">날짜</th>
                    </tr>
                </thead>
                <tbody>
                    {% for deal in deals %}
                    <tr>
                        <td><img src="{{deal.image_url}}" alt="" class="img-thumbnail"></td>
                        <td><a href="{{deal.link}}">{{deal.title}}</a></td>
                        <td>{{ deal.reply_count }}</td>
                        <td>{{ deal.up_count }}</td>
                        <td>{{ deal.created_at }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script src="" async defer></script>
    </body>
</html>